
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Prata&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Prata&family=Raleway:wght@300&display=swap');

*, html{
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
    display: flex;
    background: white;
}

body {
    background: #782221;
    margin:auto;
    width: 1160px;
    border: 4px solid #782221;
}

p{
    font-family: 'Raleway', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

header img{
    width: 150px;
    height: 150px;
    border-radius: 999px;
    border-color: black solid;
    margin-top: 15px;
    box-shadow: 3px -4px 39px -8px rgba(0,0,0,0.75);

}
h1{
   text-transform :upperCase;
}

address{
    background-color: #2c1d27;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 20px
    
}

a {
    text-decoration: none;
    color:inherit;
}

a:hover{
    text-decoration: underline;
}



main{
    display:flex;
    flex-direction: row;
}
.left{
    flex-direction: row;
    text-align: left;
    color:white;
    flex: 1 1 0;
    padding-right: 30px;
}

h4{
    padding: 10px;
    background-color:#dbc2a4 ;
    color:black;

}

.right{
     font-display: row;
     flex-direction: column;
     background-color: white;
    flex:2 1 0;
    padding-left: 30px;

}


.right h4{
    background-color: #dbc2a4;
    color:black;
    border-left:5px solid #782221;
}

footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white

}

footer .icons{
    margin: 20px;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer img {
    width: 60px;
}

footer img:hover{
    opacity: 0.8;
}